<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{#if title}}
      <title>{{title}} - Peter O'Shaughnessy</title>
    {{else}}
      <title>Peter O'Shaughnessy</title>
    {{/if}}
    <meta name="description" content="Web developer especially interested in web APIs and the future of the web">
    <link rel="stylesheet" href="/styles/styles.css"/>
    <link rel="icon" href="/images/favicon.png" type="image/png">
    <link rel="alternate" type="application/rss+xml" title="RSS feed" href="https://peteroshaughnessy.com/rss.xml" />
    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@poshaughnessy">
    <meta name="twitter:creator" content="@poshaughnessy">
    {{#if title}}
      <meta name="twitter:title" content="{{title}}">
    {{else}}
      <meta name="twitter:title" content="Peter O'Shaughnessy">
    {{/if}}
    {{#if excerpt}}
      <meta name="twitter:description" content="{{excerpt}}">
    {{else}}
      <meta name="twitter:description" content="Web developer especially interested in web APIs and the future of the web">
    {{/if}}
    {{#if thumbnail}}
      <meta name="twitter:image" content="https://peteroshaughnessy.com{{thumbnail}}">
    {{/if}}
  </head>
  <body>
    <header>
      <div>
        <div class="avatar-container">
          <a href="/"><img class="avatar" src="/images/peter-cartoon-circle.png" alt="Peter's cartoon avatar"/></a>
        </div>
        <div class="title-and-tagline-container">
          <h1><a href="/">Peter O'Shaughnessy</a></h1>
          <h2>Front-end developer now most concerned about AI safety</h2>
        </div>
      </div>
      <nav>
        <ul>
          <li><a href="/"{{#equals permalink ''}} class="active"{{/equals}}>Blog</a></li>
          <li><a href="/projects/"{{#equals permalink 'projects'}} class="active"{{/equals}}>Projects</a></li>
          <li><a href="/talks/"{{#equals permalink 'talks'}} class="active"{{/equals}}>Talks</a></li>
          <li><a href="/about/"{{#equals permalink 'about'}} class="active"{{/equals}}>About</a></li>
        </ul>
      </nav>
    </header>
