{{> header}}
<div class="contents">
  <section id="blog-index" class="page">
    {{{ contents }}}
    <div class="blog-links">
      {{#each collections.posts}}
        <div class="blog-link">
          {{#if this.thumbnail}}
            <a class="thumbnail" href="{{#if this.url}}{{this.url}}{{else}}{{this.path}}{{/if}}">
              <img src="{{this.thumbnail}}"/>
            </a>
          {{/if}}
          <div class="title-and-date">
            <h3><a href="{{#if this.url}}{{this.url}}{{else}}{{this.path}}{{/if}}">{{this.title}}</a></h3>
            <p class="date">{{formatDate this.date}}</p>
          </div>
          {{#if this.tags}}
            <p class="tags">
              {{#eachCommaSeparated this.tags}}
                <span>{{this}}</span>
              {{/eachCommaSeparated}}
            </p>
          {{/if}}
          {{#if this.excerpt}}
            <p class="excerpt">{{this.excerpt}}</p>
          {{/if}}
          {{#if this.site_name}}
            <p class="read-link"><a href="{{this.url}}">Read post on {{this.site_name}}</a></p>
          {{else}}
            <p class="read-link"><a href="{{this.path}}">Read post</a></p>
          {{/if}}
        </div>
      {{/each}}
    </div>
  </section>
</div>
{{> footer}}
