<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>{{title}} - {{ siteName }}</title>
    <meta name="description" content="{{ siteDescription }}">
  </head>
  <body>
    <h1>{{ title }}</h1>
    <time>{{ date }}</time>
    {{{ contents }}}
  </body>
</html>